.header-container {
  width: 1200px;
  margin: 0 auto;
}

.header-top {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.header-logo {
  display: flex;
  flex-direction: row;
  width: 300px;
}
.header-search {
  width: 200px;
  margin-left: 20px;
  background: #f3f4f5;
  border-radius: 5px;
  height: 35px;
  margin-top: 8px;
}
.header-search > i {
  margin-top: 10px;
  color: #c9caca;
  padding-left: 5px;
}
.header-logo input[type="text"] {
  background-color: #f3f4f5;
  border: none;
  border-style: none;
  height: 30px;
  width: 100%;
  padding-top: 2px;
}

.header-logo input:focus {
  outline: none;
}

.header-logo form {
  margin-left: 10px;
  border: none;
  border-style: none;
}

/* .header {
  margin-bottom: 83px;
} */

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  padding-top: 12px;
}

.header-button > div {
  display: flex;
  flex-direction: row;
}
.header-button > div > button {
  width: 120px;
  height: 29px;
  background: white;
  color: #0dadb7;
  border: #0dadb7 solid 1px;
  border-radius: 5px;
}

.header-button > div > button:not(:last-child) {
  margin-right: 5px;
}

.header-button > button {
  width: 130px;
  height: 29px;
  background: #0dadb7;
  color: white;
  border: none;
  border-radius: 5px;
}
