.header {
  background: white;
  height: 90px;
  width: 100vw;
}

.header-container {
  /* position: fixed; */
  width: 1242px;
  height: 130px;
  margin: 0 auto;
  background: white;
}

.header-top {
  width: 1242px;
  margin: 0px auto 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
}

.header-logo {
  display: flex;
  flex-direction: row;
  width: 810px;
}
.header-search {
  width: 200px;
  margin-left: 20px;
  background: #f3f4f5;
  border-radius: 5px;
  height: 35px;
  margin-top: 8px;
}
.header-search > i {
  margin-top: 10px;
  color: #c9caca;
  padding-left: 5px;
  border: none;
}
.header-logo input[type="search"] {
  background-color: #f3f4f5;
  border: none;
  border-style: none;
  height: 30px;
  width: 100%;
  padding-top: 2px;
}

.header-logo svg {
  margin-top: 10px;
}

.header-logo input:focus {
  outline: none;
}

.header-logo form {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  border: none;
  border-style: none;
}
.header-bar {
  /* border: black X 1px; */
  display: flex;
  flex-direction: row;
  width: 630px;
  /* height: 70px; */
}
.header-sorting {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 20px;
  width: 140px;
}
.header-sorting > span {
  margin-top: 5px;
  font-size: 12px;
  line-height: 12px;
}

.header-sorting-switch {
  position: relative;
  width: 50px;
  height: 20px;
  margin-left: 10px;
  padding-top: 1px;
  padding-left: 1px;
  border-radius: 20px;
  background: #0dadb7;
}

.header-sorting-switch span {
  position: absolute;
  display: block;
  text-align: center;
  /* justify-content: center;
  align-items: center;
  align-content: center; */

  height: 18px;
  width: 18px;
  /* padding: 1px 1px 1px 1px; */
  background: white;
  border-radius: 18px;
  /* margin-top: 1px; */
}

.header-sorting-up {
  left: 0px;
}
.header-sorting-down {
  left: 32px;
}

.header-sorting-switch i {
  object-fit: fill;
  /* display: inline-block;
  width: 18px;
  height: 18px;
  /* margin: 1px 1px 1px 1px; */
  /* background: white;
  border-radius: 18px;  */
}
/* .header {
  margin-bottom: 83px;
} */

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  padding-top: 20px;
}
button:hover {
  cursor: pointer;
}

.header-button > div {
  display: flex;
  flex-direction: row;
}
.header-button > div button {
  width: 120px;
  height: 29px;
  background: white;
  color: #0dadb7;
  border: #0dadb7 solid 1px;
  border-radius: 5px;
  margin-right: 5px;
}

.header-button > button {
  width: 130px;
  height: 29px;
  background: #0dadb7;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}

@media (max-width: 1242px) {
  .header-container {
    width: 100%;
  }
  .header-top {
    width: 100%;
  }
  .header-button {
    justify-content: space-evenly;
  }
}

@media (max-width: 1100px) {
  /* .header-container {
    width: 100%;
  }
  .header-top {
    width: 100%;
  } */
  #header-vend {
    display: none;
  }
  .header-button > div {
    width: 100%;
    justify-content: space-between;
  }
}

@media (max-width: 963px) {
  .header-top {
    flex-direction: column;
    align-items: center;
  }
  .header-logo {
    width: 100%;
    justify-content: center;
  }
  .header {
    height: 135px;
    width: 100vw;
  }
}

@media (max-width: 717px) {
  /* .header-top {
    flex-direction: column;
    align-items: center;
  } */
  .header-logo > div {
    display: none;
    /* justify-content: center; */
  }
  .header-button {
    display: none;
  }
  .header {
    height: 90px;
  }
  .header-top {
    justify-content: flex-start;
  }
  #image-text {
    top: 600px;
  }
}

@media (max-width: 621px) {
  /* .header-top {
    flex-direction: column;
    align-items: center;
  } */
  /* .header-logo > div {
    display: none;
    
  } */
  /* .header {
    height: 135px;
    width: 100vw;
  } */
}
