.image {
  width: 100vw;
  height: 535px;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.image-dechire {
  position: absolute;
  bottom: 0px;
  left: 800px;
  right: -20px;
}

.image-texte {
  position: absolute;
  background: white;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 257px;
  top: 138px;
  left: 100px;
  padding: 10px 33px;
  box-sizing: border-box;
}
.image-texte > p:first-child {
  font-size: 34px;
  line-height: 42.5px;
  letter-spacing: 0px;
  margin-top: 10px;
  font-weight: bold;
}

.image-texte > p:last-child {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  margin-top: 10px;

  color: #0dadb7;
}
.image-texte > p:last-child,
.image-texte > button:hover {
  cursor: pointer;
}
.image-texte > p:last-child:hover {
  text-decoration: underline;
}
.image-texte > button {
  width: 162px;
  height: 43px;
  background: #0dadb7;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  border: none;
  margin-bottom: 5px;
}
