.image {
  width: 100vw;
  height: 535px;
  object-fit: cover;
}

.image-container {
  position: relative;
}

.image-dechire {
  position: absolute;
  bottom: 0px;
  left: 800px;
  right: -20px;
}

.image-texte {
  position: absolute;
  background: white;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 257px;
  top: 138px;
  left: 100px;
  padding: 10px 33px;
  box-sizing: border-box;
}
.image-texte > p:first-child {
  font-size: 34px;
  line-height: 42.5px;
  letter-spacing: 0px;
  margin-top: 10px;
  font-weight: bold;
}

.image-texte > p:last-child {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
  margin-top: 10px;

  color: #0dadb7;
}
.image-texte > p:last-child,
.image-texte > button:hover {
  cursor: pointer;
}
.image-texte > p:last-child:hover {
  text-decoration: underline;
}
.image-texte > button {
  width: 162px;
  height: 43px;
  background: #0dadb7;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  border: none;
  margin-bottom: 5px;
}

@media (max-width: 717px) {
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #image-texte {
    text-align: center;
    position: absolute;
    background: white;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    top: 200px;
    left: 0px;
    padding: 0 33px;
    box-sizing: border-box;
  }
  .image-texte > p:first-child {
    font-size: 17px;
    line-height: 21.5px;
    letter-spacing: 0px;
    margin-top: 10px;
    font-weight: normal;
  }
  .image-texte > button {
    width: 100%;
    height: 43px;
    background: #0dadb7;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    border: none;
    margin-bottom: 5px;
  }
  .image-container {
    position: relative;
    height: 350px;
  }
  .image-dechire {
    position: absolute;
    bottom: 140px;
    left: 0px;
    /* right: 100px; */
  }
}
