.item {
  height: 100vh;
  background-color: #f5f6f7;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1242px;
  margin: 0 auto;
}

.item-image {
  height: 626px;
  background: white;
  margin: 100px 0;
  width: 40%;
}
.item-box {
  height: 626px;
  background: white;
  margin: 100px 0;
  width: 40%;
  padding: 50px 50px;
  box-sizing: border-box;
}
.item-price {
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.item-description-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-bottom: 50px; */
}
.item-value {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-bottom: #bfbfbf solid 1px;
  padding-bottom: 70px;
  color: #6a6a6a;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0px;
  font-weight: bold;
}

.item-label {
  display: flex;
  flex-direction: column;
  width: 50%;
  border-bottom: #bfbfbf solid 1px;
  padding-bottom: 70px;
  color: #bfbfbf;
  font-size: 13px;
  line-height: 19.5px;
  letter-spacing: 0px;
  font-weight: bold;
}

.item-description-middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  margin-top: 70px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
}

.item-acheter {
  /* display: block; */
  border: none;
  background: #0dadb7;
  border-radius: 5px;
  width: 100%;
  height: 36px;
  color: white;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0px;
}
