.login-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 100px auto 30px auto;
}

.login-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;

  height: 200px;
}
.login-container input[type="password"],
.login-container input[type="text"] {
  outline: none;
  border: none;
  border-bottom: lightcoral solid 1px;
}

.login-container input[type="submit"] {
  /* display: block; */
  border: none;
  background: #0dadb7;
  border-radius: 5px;
  width: 100%;
  height: 36px;
  color: white;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0px;
}

.login-signup {
  text-align: center;
  margin-top: 30px;
  color: #0dadb7;
  text-decoration: none;
}

.signup-login span {
  color: #0dadb7;
  text-decoration: none;
}
