.signup-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 100px auto 30px auto;
}

.signup-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;

  height: 300px;
}
.signup-container input[type="password"],
.signup-container input[type="text"] {
  outline: none;
  border: none;
  border-bottom: lightcoral solid 1px;
}

.signup-container input[type="submit"] {
  /* display: block; */
  border: none;
  background: #0dadb7;
  border-radius: 5px;
  width: 100%;
  height: 36px;
  color: white;
  font-size: 15px;
  line-height: 36px;
  letter-spacing: 0px;
}

.signup-login {
  text-align: center;
  margin-top: 30px;
  color: #0dadb7;
  text-decoration: none;
}

.signup-login span {
  color: #0dadb7;
  text-decoration: none;
}

@media (max-width: 717px) {
  .signup-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 100px auto 30px auto;
  }
}
